@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather.ttf");
}

@font-face {
  font-family: "Brig";
  src: url("assets/fonts/Brig.ttf");
}

@font-face {
  font-family: "Baskerville";
  src: url("assets/fonts/Baskerville.ttc");
}

@font-face {
  font-family: "Lora";
  src: url("assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: "Fangzheng NShuSong";
  src: url("assets/fonts/FZXSSJW.TTF");
}

@font-face {
  font-family: "Fangzheng BaoSong";
  src: url("assets/fonts/FZBSJW.TTF");
}

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: url("http://qb5hdauc2.bkt.clouddn.com/background.jpg") 0 / cover fixed;
}

#root {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}